@import url(./__button/content__button.css);

.content__bottom-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  left: -20px;
  margin-bottom: 200px;
}