@import url(./__mini-label/content__mini-label.css);

.content__mini-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
  height: 24px;
  border-radius: 9px;
  padding: 0 3px;
  background: linear-gradient(325.37deg, #d5d5d5 -33.93%, #1c1e22 286.25%, #cfcfcf 286.25%);
  box-shadow: inset 0px -1.6px 5px rgba(255, 255, 255, 0.3),
    inset 1.6px 2.5px 5.8px rgba(7, 7, 9, 0.1);
}