.content__line {
  margin-left: 5px;
  width: 9px;
  height: 359px;
  background: #f3f3f3;
  border-radius: 13px;
  box-shadow: inset -3.3px 3.3px 3.3px rgba(70, 70, 70, 0.1),
    inset 3.3px 3.3px 3.3px rgba(0, 0, 0, 0.1);
}